{% if _languages|length > 1 %}
    <div id="top"
         class="container-fluid d-flex align-items-center justify-content-end bg-dark lang"
    >
        <div class="lang__select">
            {% for language in _languages %}
                <a href="/{{ language }}{{ _path }}"
                   class="link-unstyled"
                   title="{{ language|nativeName }}"
                >
                    <img alt="{{ language|nativeName }}"
                         src="{{ _i('/assets/' ~ language ~ '.png') }}"
                         class="m-2
                            {% if _language == language %}
                                current
                            {% endif %}
                        "
                    >
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}