{{
    defaults({
        showMobileHeader: false,
        showMobileImages: false,
        showAuthors: true,
    })
}}

<div class="{{ classNames('d-md-block', {
    'd-none': not showMobileHeader,
    'd-block': showMobileHeader
}) }}">
    {% include '_component/pageHeading.html.twig' with {
        text: title,
    } only %}
</div>

{% if featured is defined %}
    {% set featuredPost = featured.getIntl() ?? featured.getFallback() %}
    <div class="row">
        <a href="/post/{{ featuredPost.slug }}"
           class="link-unstyled col-12"
        >
            <div class="w-100 story story--pinned bg-image d-flex flex-column justify-content-end lazyload"
                 data-bg="{{ featuredPost.featureImage }}"
            >
                <div class="story__data px-3 py-2">
                    <h2 class="story__data__title text-white m-0">{{ featuredPost.title }}</h2>
                    <div class="story__data__meta story__data__meta--pinned">
                        {% if featuredPost.primaryTag.name != 'category:press-release' %}
                            <span>{{ featuredPost.primaryAuthor.name }}</span>
                        {% endif %}
                        <span>{{ featuredPost.publishedAt|timeAgo }}</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
{% endif %}
<div class="row my-3">
    {% for story in stories %}
        <div class="{{ classNames('col-12 col-md-6 col-lg-4 pb-3 pt-0-xs pt-3-md', {
            'd-block d-md-none d-lg-block': loop.last and not loop.first,
        }) }}">
            {% include 'story/story.html.twig' with {
                story: story.getIntl() ?? story.getFallback(),
                showMobileImage: showMobileImage,
                showAuthor: showAuthors,
            } only %}
        </div>
    {% endfor %}
</div>

