{% extends 'root.html.twig' %}

{% set content = contentGroup.getIntl() ?? contentGroup.getFallback() %}

{% block head %}
    {% include 'content-meta.html.twig' with {
        resource: {
            title: meta.title,
            featureImage: meta.image,
        }
    } only %}
{% endblock %}

{% block body %}

    {% if error is not empty %}
        <div class="container">
            <h2>{{ _(_self, 'error.title') }}</h2>
            <p>{{ _(_self, 'error.body') }}</p>
            {% if error.aid is defined %}
                <p>{{ _(_self, 'error.aid') }}</p>
                <p>
                    <span>{{ error.aid|split('-')[0] }}</span>
                    <span class="text-muted">{{ error.aid|split('-', 2)[1] }}</span>
                </p>
            {% endif %}
            <p class="text-muted">{{ error.message }}</p>
        </div>
    {% endif %}

    <div class="container-fluid lazyload bg-image" data-bg="{{ content.featureImage }}">
        <div class="container join">
            <div class="row pt-5">
                <span class="join__heading">{{ _(_self, 'heading') }}</span>
            </div>
            <div class="row py-5">
                {% for jobType in jobTypes %}
                <div class="col-12 col-md-4 p-2 join__jobType">
                    <a class="py-2 px-3 m-1 bg-white h-100 d-flex justify-content-between align-items-center link-unstyled join__goal"
                       href="https://members.iwgb.org.uk/join/{{ jobType.Slug }}"
                    >
                        <div>
                            <h3>{{ _(_self, jobType.Slug ~ '.name') }}</h3>
                            <small class="text-muted">{{ _(_self, jobType.Slug ~ '.description') }}</small>
                        </div>
                        <i class="fas fa-arrow-right fa-md ml-2 join__jobType__icon"></i>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white">
        <div class="container">
            <div class="row py-5">
                <div class="col-12 col-md">
                    <h3>{{ content.title }}</h3>
                    <div class="join__content">
                        {% autoescape false %}
                            {{ content.html }}
                        {% endautoescape %}
                    </div>
                </div>
                <div class="col-12 col-md">
                    <h3>{{ _(_self, 'help.header') }}</h3>
                    <p>{{ _(_self, 'help.text') }}</p>
                    <h3>{{ _(_self, 'costs.header') }}</h3>
                    <p>{{ _(_self, 'costs.text') }}</p>
                    <p>
                        <a href="{{ _a('/page/membership-costs') }}">{{ _(_self, 'costs.link') }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('.join__goal').click(() => fathom('trackGoal', 'J317TNNE', 0))
    </script>
{% endblock %}