{% include 'lang/lang.html.twig' %}

{% macro join() %}
    <a href="/join"
       class="btn btn-light nav__bar__items__join">
    </a>
{% endmacro %}

{% macro navItem(name, item) %}
    {% if item.kind == 'internal' or item.kind == 'external' %}
        {% set attrs = 'href="' ~ item.href ~ '"' %}
    {% else %}
        {% set attrs = 'data-toggle="#' ~ item.id ~ '"' %}
    {% endif %}
    {% autoescape false %}
        <a {{ attrs }} class="link-unstyled text-white h-100 d-flex align-items-center py-3 px-4">
            <span>{{ name }}</span>
            {% if item.kind == 'menu' %}
                <i class="fas fa-chevron-down ml-2"></i>
            {% endif %}
        </a>
    {% endautoescape %}
{% endmacro %}

<div class="w-100 nav">
    <div id="nav"
         class="container-fluid nav__bar"
    >
        <div class="nav__bar__container container d-flex align-items-stretch justify-content-between">
            <div class="nav__bar__wordmark">
                <a href="/"
                   class="link-unstyled"
                >
                    <img alt="{{ _('global', 'logo.wordmark') }}"
                         src="{{ _i("/assets/wordmark-white.png") }}"
                         class="mt-3"
                    >
                </a>
            </div>
            <div class="d-flex d-md-none flex-align-center">
                <button id="hamburger"
                        class="hamburger hamburger--spin"
                >
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
                <div class="d-flex align-items-center pl-4">
                    {{ _self.join() }}
                </div>
            </div>
            <div class="nav__bar__items d-none d-md-flex">
                {% for name, item in data %}
                    {{ _self.navItem(name, item) }}
                {% endfor %}
                <div class="d-flex align-items-center px-3">
                    {{ _self.join() }}
                </div>
            </div>
        </div>
    </div>
    <div id="nav-menu"
         class="container-fluid nav__mobile px-0"
    >
        {% for name, item in data %}
            {% if item.data is not empty %}
                <div class="d-block d-md-none">
                    {{ _self.navItem(name, item) }}
                </div>
            {% endif %}
            {% if item.kind == 'menu' %}
                <div id="{{ item.id }}"
                     class="container-fluid bg-grey nav__menu nav__menu--initial"
                >

                    {% include 'nav/menu/' ~ name ~ '.html.twig' with {
                        data: item.data,
                    } only %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

</div>

<script>
    $('#hamburger').click(function () {
        $(this).toggleClass('is-active');
        $('#nav-menu').slideToggle('fast');
    });

    $('a[data-toggle]').click(function() {
        const trigger = $(this);
        const menu = $(trigger.attr('data-toggle'));

        $('.nav__menu').each((i, el) => {
            const id = $(el).attr('id');
            if (id !== menu.attr('id')) {
                $(el).slideUp('fast');
                console.log(el);
                $(`a[data-toggle='#${id}']`)
                    .removeClass('nav--open')
                    .find('i').removeClass('fa-rotate-180');
            }
        });

        menu.slideToggle('fast');
        trigger.toggleClass('nav--open')
            .find('i').toggleClass('fa-rotate-180');
    });
</script>