{% extends 'root.html.twig' %}

{% block head %}
    {% include 'content-meta.html.twig' with {
        resource: {
            title: meta.title,
            featureImage: meta.image,
        }
    } only %}
{% endblock %}

{% block body %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="text-center m-5 redirect__pad d-flex flex-column align-items-center">
            <div class="my-2">
                <img src="{{ _i('/assets/iwgb-spinner-top.png') }}"
                     class="d-block redirect__spinner__top"
                     alt="{{ _('join', 'loading') }}"
                />
                <img src="{{ _i('/assets/iwgb-spinner-bottom.png') }}"
                     class="d-block redirect__spinner__bottom"
                     alt="{{ _('join', 'loading') }}"
                />
            </div>
            <h4 class="m-2">{{ _('join', 'loading') }}</h4>
            <p>{{ _('join', 'loadingDescription') }}</p>
        </div>

    </div>
    <script>
        (
            () => window.setTimeout(
                () => window.location.replace('{{ url }}'),
                1000
            )
        )();
    </script>
{% endblock %}
