<div class="row">
    <div class="col-12 col-md-6 py-3">
        <h2>{{ _(_self, office ~ '.heading') }}</h2>
        {% if _(_self, office ~ '.phone') %}
            <div class="d-flex my-3">
                <i class="fas fa-phone fa-fw mx-3 my-1"></i>
                <div>
                    <div class="contact-office__phone m-0 text-white">
                        <span>{{ _(_self, office ~ '.phone')|reverse }}</span>
                    </div>
                    <small class="text-muted interpunct-list">
                        <span>
                            {% include 'copy.html.twig' with {
                                text: _(_self, office ~ '.phone'),
                            } only %}
                        </span>
                        <span>
                            <a href="tel:{{ _(_self, office ~ '.phone') }}"
                               class="link-span-only text-white"
                            >
                                <i class="fas fa-phone fa-sm fa-fw"></i>
                                <span>{{ _(_self, 'call') }}</span>
                            </a>
                        </span>
                        <span>{{ _(_self, office ~ '.phoneDesc') }}</span>
                    </small>
                </div>
            </div>
        {% endif %}
        <div class="d-flex my-3">
            <i class="fas fa-map-marker-alt fa-fw mx-3 my-1"></i>
            <div>
                <div>
                    {% autoescape false %}
                        {{ parseNewLines(_(_self, office ~ '.address')) }}
                    {% endautoescape %}
                </div>
                <small class="text-muted interpunct-list">
                    <span>
                        {% include 'copy.html.twig' with {
                            text: parseNewLines(_(_self, office ~ '.address'), ', '),
                        } only %}
                    </span>
                    <span>
                        <a href="{{ _(_self, office ~ '.directionsLink') }}"
                           target="_blank"
                           referrerpolicy="no-referrer"
                           class="link-span-only text-white"
                        >
                            <i class="fas fa-location-arrow fa-sm fa-fw"></i>
                            <span>{{ _(_self, 'directions') }}</span>
                        </a>
                    </span>
                </small>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block col-md-6">
        <div id="contact-map-{{ office }}"
             class="contact-office__map w-100 h-100"
        ></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const coords = [
            {{ _(_self, office ~ '.lat') }},
            {{ _(_self, office ~ '.long') }}
        ];
        const map = L.map('contact-map-{{ office }}', {
            zoomControl: false,
            scrollWheelZoom: false,
            doubleClickZoom: false,
            attributionControl: false,
        }).setView(coords, {{ _(_self, office ~ '.mapZoom') }});
        L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/dark-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZ3V5bTRjIiwiYSI6ImNqM2Fpcml3NjAwNjczM3FrbjltMXkzbXMifQ.U-vGBUwZjmjfWu8pV8punw', {
            maxZoom: 18,
        }).addTo(map);
        const marker = L.marker(coords).addTo(map);
    });
</script>
