{% extends 'root.html.twig' %}

{% block head %}
    {% include 'content-meta.html.twig' with {
        resource: {
            title: meta.title,
            featureImage: meta.image,
        }
    } only %}
{% endblock %}

{% block prenav %}

    <div class="container-fluid p-0 d-none d-md-block hero ">
        <div class="d-flex align-items-end vh-100 hero__slideshow">
            <div class="container-fluid hero__brand">
                <div class="container-fluid d-flex px-4 py-2 justify-content-between align-items-center text-white">
                    <div class="d-flex align-items-center">
                        <img alt="{{ _('global', 'logo.roundel') }}"
                             class="hero__brand__roundel"
                             src="{{ _i("/assets/roundel-colour.png") }}"
                        >
                        <div class="hero__brand__names ml-3">
                            <img alt="{{ _('global', 'logo.wordmark') }}"
                                 class="hero__brand__wordmark"
                                 src="{{ _i("/assets/wordmark-white.png") }}"
                            >
                            <span class="d-block hero__brand__names__long font-weight-bold">{{ _('global', 'iwgb') }}</span>
                        </div>
                    </div>
                    <span
                            class="hero__brand__slogan text-uppercase ml-3 font-weight-bold font-italic text-right"
                    >
                        {{ _(_self, 'slogan') }}
                    </span>
                </div>
                <div class="container-fluid pb-1 d-flex justify-content-center">
                    <a href="#top"
                       class="link-unstyled"
                    >
                        <i class="fas fa-arrow-down text-white"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="container-fluid text-white covid covid__background">
        <div class="container">
            <div class="row py-5">
                <div class="col-12 col-md-6">
                    <h1>Covid-19</h1>
                </div>
                <div class="col-7 col-md-6">
                    <p>{{ _(_self, 'covidBanner.body') }}</p>
                    <div>
                        <a href="/page/covid-19" class="btn btn-light mr-2 mb-2">{{ _(_self, 'covidBanner.responseLink') }}</a>
                        <a href="/page/covid-support-and-advice" class="btn btn-light mb-2">{{ _(_self, 'covidBanner.supportLink') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if _q.notFound is defined %}
        <div class="alert alert-warning container mt-3" role="alert">
            <span>{{ _('global', 'notFound') }}</span>
        </div>
    {% endif %}

    {% if _q.contactFormSent is defined %}
        {% if _q.contactFormSent == 'no' %}
            <div class="alert alert-danger container mt-3" role="alert">
                <span>{{ _('global', 'contactForm.error') }}</span>
            </div>
        {% elseif _q.contactFormSent == 'yes' %}
            <div class="alert alert-success container mt-3" role="alert">
                <span>{{ _('global', 'contactForm.success') }}</span>
            </div>
        {% endif %}
    {% endif %}

    <div class="container mt-3 mb-5 my-md-5">
        {% include 'story/story-grid.html.twig' with {
            featured: featured,
            stories: posts,
            title: _('global', 'latestStories'),
        } only %}
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <a href="/press-releases" class="text-dark link-span-only d-flex align-items-center">
                <span class="pr-2 moreStories">{{ _('global', 'readMore') }}</span>
                <i class="fas fa-chevron-right fa-lg"></i>
            </a>
        </div>
    </div>

    <div class="container">
        {% include 'home/photo-tile.html.twig' with {
            headerTop: _(_self, 'weAre.headerTop'),
            headerBottom: _(_self, 'weAre.headerBottom'),
            text: _(_self, 'weAre.text'),
            direction: 'left',
            image: _(_self, 'weAre.imageUrl'),
            linkText: _(_self, 'weAre.firstLinkText'),
            linkHref: _(_self, 'weAre.firstLinkHref'),
            secondLinkText: _(_self, 'weAre.donateLinkText'),
            secondLinkHref: '/page/donate',
        } only %}

        {% for campaignGroup in campaigns %}
            {% if loop.index is divisible by(2) %}
                {% set direction = 'left' %}
            {% else %}
                {% set direction = 'right' %}
            {% endif %}

            {% set campaign = campaignGroup.getIntl() ?? campaignGroup.getFallback() %}

            {% set headerArray = campaign.title|split(' ', 3) %}

            {% include 'home/photo-tile.html.twig' with {
                headerTop: headerArray[0] ~ ' ' ~ headerArray[1],
                headerBottom: headerArray[2],
                text: campaign.excerpt,
                direction: direction,
                image: campaign.featureImage,
                linkText: _(_self, 'readMore'),
                linkHref: '/page/' ~ campaign.slug,
            } only %}
        {% endfor %}
    </div>

    <div class="container-fluid bg-image d-flex align-items-end lazyload benefits"
         data-bg="{{ _(_self, 'benefits.heroImageUrl') }}"
    >
        <div class="container my-5">
            <h1 class="benefits__heading d-inline">{{ _(_self, 'benefits.heading') }}</h1>
        </div>
    </div>
    <div class="container-fluid bg-dark-grey text-white">
        <div class="container">
            <div class="row">
                {% for i in 1..3 %}
                    <div class="col-12 col-md my-4 my-md-5">
                        <h2>{{ _(_self, 'benefit' ~ i ~ '.heading')}}</h2>
                        <p>{{ _(_self, 'benefit' ~ i ~ '.text') }}</p>
                        <a href="{{ _(_self, 'benefit' ~ i ~ '.href') }}"
                           class="btn btn-iwgb"
                        >
                            <span>{{ _(_self, 'benefit' ~ i ~ '.link') }}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include '_component/contact/contact.html.twig' %}

{% endblock %}

{% block scripts %}

    <script>
        $(document).ready(function () {

            const images = [
                {% for image in slideshow %}
                '{{ image }}'
                {% if not loop.last %},{% endif %}
                {% endfor %}
            ];

            function cycleImage() {
                imageIndex++;
                if (imageIndex === images.length) {
                    imageIndex = 0;
                }
                const slideshow = $('.hero__slideshow');
                if (slideshow.css('display') !== 'none') {
                    slideshow.fadeTo(400, 0.2, () => {
                        slideshow.css({
                            background: 'url(' + images[imageIndex] + ') center/cover',
                        });
                    }).fadeTo(400, 1);
                }
            }

            let imageIndex = -1;
            cycleImage();
            window.setInterval(cycleImage, 10000{# ms #});
        });
    </script>

    <script>

    </script>
{% endblock %}