{% extends 'root.html.twig' %}

{% block body %}
    <div class="container-fluid bg-image lazyload error__container vh-100"
         data-bg="https://cdn.iwgb.org.uk/bucket/Press/5e5d2de3b04df.jpg"
    >
        <div class="row">
            <div class="col-10 offset-1 py-5 px-0">
                <span class="error__title">{{ _(_self, 'title') }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-10 col-md-4 offset-1 offset-md-7 bg-light error__text px-3 py-2">
                <h1>{{ _(_self, 'subtitle') }}</h1>
                <p>{{ _(_self, 'body.1') }}</p>
                <p>{{ _(_self, 'body.2') }}</p>
                <p>{{ _(_self, 'body.3') }}</p>
                <p class="text-muted">
                    <span>{{ _(_self, 'body.4') }}<br></span>
                    <small class="text-muted">{{ _(_self, 'cause') }}: ffollow240320 / {{ _(_self, 'job') }}: {{ _job }}</small>
                </p>

            </div>
        </div>


    </div>
{% endblock %}